<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <ul class="menu">
    <li class="menu-item">Home</li>
    <li class="menu-item">Product List</li>
    <li class="menu-item">Basket</li>
  </ul>
  <h1 class="header">
    Welcome to {{ title }}!
  </h1>

</div>
<div class="content">
  <div class="content-item-1">
    The best prices
  </div>
  <div class="content-item-2">
    Big discounts
  </div>
  <div class="content-item-3">
    Free shipping
  </div>
</div>
<footer class="footer">
  <p class="contact">+390 678 54 32</p>
  <p class="contact">itea-shop@gmail.com</p>
</footer>
